// Place all the styles related to the api/songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ------ ChartIndex -------- */

.chart-index-wrapper {
  width: 80vw;

}

.chart-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5rem;
}

.chart-index > h1 {
  
  font-weight: bold;
  font-size: 5rem;
}

.chart-index > h5 {

  color: #FF1464;
  font-size: .9rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  margin: .5rem;

}


.chart-index-item {
  
  display: flex;
  align-items: center;
  
  padding-top: 10px;
  padding-bottom: 10px;
  
  font-size: 22px;
  
  border-bottom: 1px solid rgb(233, 233, 233);
  border-radius: 3px;

  color: black;
}

.chart-index-item:hover {

  background-color: rgb(233, 233, 233);
  

}

  .chart-index-item:visited {

  color: black;
}

.chart-index-filter-wrapper {
  margin: 2rem;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: content-box;

  transition: all .3s ease;
}

.chart-index-filter-wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.chart-index-filter {
  padding: 10px;
  text-align: center;
  display: flex;
}

div.chart-index-filter:hover {
  background-color: white;
  color: black;
}


.drop-down-menu {
  position: absolute;
  background-color: white;
  width: 100%;
  border: 2px solid black;
  border-top: #eaeaea;
  top: 39px;
  align-self: center;
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}


/*  -------- ChartIndexFilter --------*/
.filter-text {

  font-size: 15px;
  margin-left: 30px;
  margin-right: 30px;

}

.filter-text span {
  font-size: 13px;
}


.item-idx {

  padding-left: 20px;
  flex: 1;
}

.item-img {
  
  flex: 1;
  padding-right: 30px;

}

.item-img  > img {
  height: 100px;
}

.item-title {
  flex: 4;
}

.item-title span {
  font-size: 12px;
  font-weight: 500px;
  color: #9a9a9a;
}

.item-artist {
  flex: 2;
}

.drop-down-active {
  transform: rotateX(180deg);
}

.drop-down-row {
  font-size: 0.875rem;
  display: flex;
  border-top: .09rem solid #eaeaea;
}

.drop-down-row > p {
  font-size: 0.875rem;
  padding-left: 8px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  flex: 1;
  
}

.genre {
  border-right: .09rem solid #eaeaea;
}

.filter {
  // text-align: right;
}

/*  -------- NavBarSub  -------- */
.nav-bar-sub-wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height: 41px;
  background-color: black;
}


.nav-bar-sub {
  display: flex;
  justify-content: center;

  color: white;

  padding-top: 10px;
  padding-bottom: 10px;
  
}

.nav-bar-sub > div {
  font-size: 14px;
  
  padding-right: 30px;
  padding-left: 30px;
  border-right: 2px solid white;

  cursor: pointer;
}

div.nav-bar-sub-icons {

  border: none;

}

a.fa-icon {

  color: #e8e8e8;
  margin-right: 15px;
  font-size: 16px;

}

a.fa-icon:visited {

  color: #e8e8e8;

}


/* css loader */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
