// Place all the styles related to the api/referents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Song Lyrics styles */


.referent span {

  background-color: #e9e9e9;
  transition: all .15s linear;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 1px;
  padding-right: 1px;

}

.referent:hover span {

  cursor: pointer;
  background-color: #FFFF64;

}

span.active-temp{
  background-color: #FFFF64;
}

.activeLyric > p > span {
  // background-color: yellow;
}
