// .song-page-header-overlay {
//   display: flex;

// }

.song-page-header-content {
  display: flex;
  z-index: 10;
  background-color: #00000063;
  background-image: url();
}

.song-page-header-content img {

  width: 220px;
  height: 220px;

}