/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Reset */

/* Box sizing attributes to all elems */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default padding and remove list style */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}


body, h1, h2, h3, h4, h5, p, ul[class], li[class], dl, dd, a {

  margin: 0;
  border: 0;
  padding: 0;

  font-family: inherit;
  font-size: inherit;

  background: transparent;

  text-decoration: none;

}

html, body {
  height: 100%;
  margin: 0;

}

section {
  min-height: 100vh;
  margin-bottom: 5vh;
}

/* styles for body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: sans-serif;

}

/* Button styles */
.btn {
  border: 2px solid black;
  background: transparent;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;

  transition: all .3s ease;
}

.btn:hover {

  color: white;
  background-color: black;

}

::selection {
    color: none;
    background: #FFFF64;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}